@use '../util' as *;

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-500);
  color: var(--neutral-200);
  font: var(--text-preset-5-md);
  width: 100%;
  height: rem(56);
  border: none;
  border-radius: var(--sp-12);
  margin-bottom: var(--sp-32);

  &-toggle {
    cursor: pointer;
    gap: var(--sp-6);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--neutral-800);
    color: var(--neutral-0);
    border: none;
    border-radius: var(--sp-6);
    width: rem(89);
    height: rem(33);
    font-size: rem(14);

    img {
      height: rem(14);
      width: rem(14);
    }
  }
}
