@use '../util' as *;

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--sp-6);
  margin: 0;
  border: none;
  background-color: transparent;
  color: var(--neutral-0);

  img,
  svg {
    width: rem(14);
    height: rem(14);
  }

  span.full {
    svg {
      fill: red;
    }
  }
  @include breakpoint(medium) {
    img,
    svg {
      width: var(--sp-16);
      height: var(--sp-16);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    transition: all var(--transition-duration) var(--transition-type);
  }

  &-favorite {
    background-color: var(--neutral-800);
    color: var(--neutral-0);
    padding-inline: var(--sp-12);
    height: rem(39);
    border-radius: var(--sp-12);
    margin-top: var(--sp-20);
  }

  &-primary {
    background-color: var(--blue-500);
    color: var(--neutral-text);
    font: var(--text-preset-5-md);
    width: 100%;
    height: rem(56);
    border-radius: var(--sp-12);

    &:hover {
      background-color: var(--blue-700);
    }

    &:focus {
      outline: rem(2) solid var(--blue-500);
      outline-offset: rem(2);
    }

    @include breakpoint(medium) {
      flex-shrink: 0;
      width: rem(114);
    }

    &:disabled {
      cursor: not-allowed;
      background-color: var(--blue-500);
      opacity: 0.6;
    }
  }

  &-secondary {
    height: rem(33);
    background-color: var(--neutral-800);
    font: var(--text-preset-8);
    border-radius: var(--sp-6);
    padding-inline: var(--sp-10);
    color: var(--neutral-0);
    span {
      text-transform: capitalize;
    }

    @include breakpoint(medium) {
      gap: var(--sp-10);
      padding-inline: var(--sp-16);
      height: rem(43);
    }
  }

  &-toggle {
    justify-content: flex-start;
    height: rem(39);
    padding-inline: var(--sp-8);
    background-color: transparent;
    color: var(--text);
    font: var(--text-preset-7);
    border-radius: var(--radius-8);
    width: 100%;

    span {
      text-transform: capitalize;
    }

    &:hover {
      background-color: var(--neutral-700);
    }

    &:focus {
      background-color: var(--neutral-700);
      outline: 1px solid var(--text);
      outline-offset: 1px;
      box-shadow: 0 0 0 rem(2) var(--neutral-800), 0 0 0 rem(3) var(--text);
    }
  }

  &-unit {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: var(--text);
    font: var(--text-preset-7);
    padding-inline: var(--sp-8);
    border: none;
    border-radius: var(--radius-8);
    height: rem(39);
    width: 100%;
    @media (prefers-reduced-motion: no-preference) {
      transition: all var(--transition-duration) var(--transition-type);
    }

    &.active,
    &:hover {
      background-color: var(--neutral-700);
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    gap: var(--sp-4);

    .btn {
      height: rem(33);
      background-color: var(--neutral-700);
      font: var(--text-preset-8);
      border-radius: var(--sp-6);
      padding-inline: var(--sp-10);
      justify-content: left;
      width: 100%;

      &.active {
        background-color: var(--neutral-600);
      }

      &:hover {
        background-color: var(--neutral-600);
      }

      @include breakpoint(medium) {
        gap: var(--sp-10);
        padding-inline: var(--sp-16);
        height: rem(43);
      }
    }
  }
}
