@use '../util' as *;

.card {
  background-color: var(--neutral-800);
  color: var(--neutral-0);
  border-radius: rem(20);
  padding: rem(16);

  &__main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    background-image: url('../../../public/images/bg-today-small.svg');
    background-repeat: no-repeat;
    padding: rem(40) 0;

    &-header {
      width: 100%;
      text-align: center;
    }

    h2 {
      font: var(--text-preset-4);
      margin: 0;
      padding: 0;
      margin-bottom: rem(12);
    }

    p {
      color: var(--neutral-200);
      font: var(--text-preset-6);
    }

    &-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .icon {
        display: block;
        width: rem(120);
        height: auto;
      }

      .temp {
        font: var(--text-preset-1);
        letter-spacing: rem(-2);
        margin-right: rem(24);
      }
    }
  }
}
