@use '../util' as *;

.input {
  position: relative;

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: rem(24);
  }

  input {
    display: flex;
    align-items: center;
    padding-left: rem(72);
    height: rem(56);
    width: 100%;
    background-color: var(--neutral-800);
    color: var(--neutral-200);
    font: var(--text-preset-5-md);
    border: none;
    border-radius: rem(12);
    margin-bottom: rem(12);

    &::placeholder {
      color: currentColor;
    }
  }
}
