@use '../util' as *;

.header {
  display: flex;
  flex-direction: column;
  gap: var(--sp-12);
  margin: 0 auto;
  width: 100%;

  &__logo {
    img,
    svg {
      width: rem(138);
      display: block;
      height: auto;
    }
  }

  &__units {
    position: relative;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--sp-20);
  }

  @include breakpoint(medium) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__logo {
      img,
      svg {
        width: rem(197);
      }
    }
  }
}

.toggler {
  input {
    visibility: hidden;
    height: 0;
    width: 0;
  }

  svg {
    fill: var(--neutral-0);
  }

  label {
    &:hover {
      cursor: pointer;
    }
  }
}
