@use '../util' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(16);
  // padding: rem(16);

  &__logo {
    img {
      width: rem(138);
      display: block;
      height: auto;
    }
  }
}
