@use '../util' as *;

.hero {
  border-radius: var(--sp-20);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  background-image: url('../../../public/images/bg-today-small.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: rem(286);
  padding: var(--sp-40) 0;
  color: var(--neutral-text);

  &__header {
    width: 100%;
    text-align: center;
  }

  h2 {
    font: var(--text-preset-4);
    color: var(--neutral-text);
    margin: 0;
    padding: 0;
    margin-block-end: var(--sp-12);
  }

  p {
    color: var(--neutral-900);
    font: var(--text-preset-6);
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .icon {
      display: block;
      width: rem(120);
      height: auto;
    }

    .temp {
      font: var(--text-preset-1);
      letter-spacing: rem(-2);
      margin-inline-end: var(--sp-24);
    }
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--sp-16);

    @include breakpoint(medium) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      gap: var(--sp-20);
    }
  }

  @include breakpoint(medium) {
    background-image: url('../../../public/images/bg-today-large.svg');
    padding-inline: var(--sp-24);
    flex-flow: row nowrap;
    height: rem(286);

    &__header {
      text-align: left;
      width: auto;
    }

    &__body {
      width: rem(294);
    }
  }

  @include breakpoint(large) {
    // margin-block-end: var(--sp-32);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--sp-32);
  }

  &.loading {
    justify-content: center;
    gap: rem(14);
    background-image: none;
    color: var(--neutral-text);
    background-color: var(--neutral-800);
    font: var(--text-preset-6);

    p {
      color: var(--neutral-text);
    }
    img,
    svg {
      height: rem(60);
      animation: spin 3s linear infinite;
      transform-origin: 50% 50%;
    }

    @include breakpoint(medium) {
      flex-direction: column;
    }
  }
}
