@use '../util' as *;

.block {
  display: grid;
  gap: var(--sp-16);

  &__current {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: var(--sp-32);

    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: rem(118);
      .title {
        font: var(--text-preset-6);
      }

      .info {
        font: var(--text-preset-3);
      }
    }

    @include breakpoint(medium) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      gap: var(--sp-20);
    }

    @include breakpoint(large) {
      margin-bottom: var(--sp-48);
    }
  }

  &__daily {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: var(--sp-32);

    > div {
      display: flex;
      flex-direction: column;
      height: rem(165);
      padding: var(--sp-16) var(--sp-10);
      gap: var(--sp-16);
      text-align: center;
      font: var(--text-preset-6);
    }

    .icon {
      img {
        width: rem(60);
        margin-inline: auto;
      }
    }

    @include breakpoint(medium) {
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: 1fr;
    }
  }

  &__hourly {
    background-color: var(--neutral-800);
    border-radius: var(--radius-20);
    padding: var(--sp-20) var(--sp-16);
    margin-bottom: var(--sp-48);

    @include breakpoint(large) {
      width: 100%;
      max-width: rem(384);
      padding: var(--sp-24);
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin-bottom: 0;
    }

    .btn-toggle {
      background-color: var(--neutral-600);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: var(--sp-16);

    .card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: rem(60);
      background-color: var(--neutral-700);
      border: 1px solid var(--neutral-600);
      padding: 0 var(--sp-20);
    }

    .info {
      display: flex;
      align-items: center;
      padding: 0;

      img {
        width: rem(40);
        margin-right: var(--sp-8);
      }

      span {
        font: var(--text-preset-5-md);
        text-transform: uppercase;
      }
    }
  }
}

.temp {
  display: flex;
  justify-content: space-between;
  font: var(--text-preset-7);
}

@include breakpoint(large) {
  .container {
    display: flex;
    justify-content: center;
    gap: var(--sp-32);
    width: 100%;
    max-width: rem(1216);
    margin: auto;
  }

  .col__left {
    width: 100%;
    max-width: rem(800);
  }
}
